.c_index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    font-size: 30px;

}

.animatedAirplane {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 30px; */
    margin-right: 55px;
}

.c_afterLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /*font-size: 30px; */
}

footer {
    position: fixed;
    padding: .6em;
    bottom: 0;
    left: 0;
    right: 0;
}
.bearbeitenBox1{
    font-family: cursive;
    font-size: 40px;
    text-align: center;

}

label{
    font-size: 22px;
}

.h1_1{
    text-align: center;
    font-family: cursive;
    font-size: 80px;


}

body {
    background-color: lightcyan;
}
#h1_navBar{
    font-size: 45px;
}
#index_bild{
    /*opacity: 1;*/
    color: white;
}
#h1_start_nach_login{
    text-align: center;
}
.c_footer{
    color: black;
}
#logo {
    margin-top: 20px;
    width: 20%;


   /* float: left; width: 32%;
    background-color: green;
    box-sizing: border-box; */

}
.flugzeugfenster{
    justify-content: center;
    align-items: center;
    padding-left: 38%;

}
.flugzeugfenster_nachLogin{
    justify-content: center;
    align-items: center;
    padding-left: 30%;
}
@media (max-width: 800px) {
    .c_index{
        margin-top: 100px;
        font-size: 25px;
    }
    #h1_navBar{
        font-size: 25px;
    }
    .h1_1{
        font-size: 25px;
    }
    #logo{

    }

}
#container{
    /*  display: inline-flex;
    flex-basis: auto;
     flex-wrap: nowrap;
     flex-shrink: 0.1;
     justify-content: space-around;*/
}
.fieldset{
   /* margin-top: 15%; */
}
.c_header{
    display: flex;
    justify-content: space-between;
}
.pseudo{
    width: 20%;
}
/*.box { float: left; width: 32%; margin-right: 2%; padding: 20px; background: #eee; box-sizing: border-box; }
.box:last-child { margin-right: 0; } */