.c1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    font-size: 30px;

    /* margin: 100px 100px 100px 100px; */
}

.animatedPictures {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 30px; */
    margin-right: 55px;
}

.c1afterLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /*font-size: 30px; */
}



@media (width: 1000px) {
    .c1 {
        margin-top: 100px;
        font-size: 10px;
    }

}

footer {
    position: fixed;
    padding: .6em;
    bottom: 0;
    left: 0;
    right: 0;
}
.bearbeitenBox1{
    font-family: cursive;
    font-size: 40px;
    text-align: center;

}

label{
    font-size: 22px;
}

.h1_1{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}

body {
    background-color: lightcyan;
}
#h1{
    font-size: 45px;
}
#index_bild{
    /*opacity: 1;*/
    color: white;
}